
@{
    ViewBag.Title = "YeniSinav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Not Giriş Sistemi</h2>

<div>
    <form method="post" class="form-group">
        <div style="margin-top:20px">
            <label>Öğrenci ID</label>
            <input type="text" class="form-control" name="OGRID" />
        </div>
        <div style="margin-top:10px">
            <label>Ders Adı</label>
            <input type="text" class="form-control" name="DERSID" value="" />
        </div>
        <div style="margin-top:10px">
            <label>Sınav 1</label>
            <input type="text" class="form-control" name="SINAV1" value="" />
        </div>
        <div style="margin-top:10px">
            <label>Sınav 2</label>
            <input type="text" class="form-control" name="SINAV2" value="" />
        </div>
        <div style="margin-top:10px">
            <label>Sınav 3</label>
            <input type="text" class="form-control" name="SINAV3" value="" />
        </div>
        <div style="margin-top:10px">
            <label>Proje</label>
            <input type="text" class="form-control" name="PROJE" value="" />
        </div>
        <div style="margin-top:10px">
            <label>Ortalama</label>
            <input type="text" class="form-control" name="ORTALAMA" value="" />
        </div>
        <div style="margin-top:10px">
            <label>Durum</label>
            <input type="text" class="form-control" name="DURUM" value="" />
        </div>


        <div style="margin-top:10px">
            <button class="btn btn-primary">Notu Ekle</button>
        </div>
    </form>
</div>

