
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kulüp Ekleme Sayfası</h2>

<form method="post" class="form-group">
    <div style="margin-top:20px">
        <label>
            Kulüp Adı
        </label>
        <input type="text" class="form-control" name="KULUPAD" />
    </div>
    <div style="margin-top:10px">

        <button class="btn btn-info">Ekle</button>

    </div>
</form>

